.blog {
  margin-top: 200px;
  text-align: center;

  &__title {
    margin-bottom: 48px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #1e1e1e;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 96px;
    text-align: start;
  }
}

.articl-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 112px;
}


