@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (max-width :576px) {
    padding: 0 16px;
  }
}
ul{
  padding-left: 0;
}
a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: #1e1e1e;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ff3c78;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

